@media (max-width: 640px) {
    .quizzal{
        font-size: 5rem; 
    }
    .start-button {
        font-size: 0.6rem; 
        margin-top: 1rem;  
    }
}
.quiz-background {
    background-image: url('/Image/HomeQuiz.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@keyframes sparkle {
    0% { text-shadow: 0 0 10px rgba(139, 92, 246, 0.8); }
    50% { text-shadow: 0 0 20px rgb(201, 21, 21); }
    100% { text-shadow: 0 0 10px rgba(139, 92, 246, 0.8); }
}
.sparkle {
    animation: sparkle 1.5s infinite;
}
.stroke-text {
    -webkit-text-stroke: 2px rgb(218, 231, 80);
}
